[connection]
id=AldiTalk
uuid=469d9f2f-b3cb-4885-9e9d-092f7c3460ee
type=gsm

[gsm]
apn=internet.eplus.de
number=*99#
password=gprs
pin=FIXME
username=eplus

[serial]
baud=115200

[ppp]

[ipv4]
method=auto
#route1=0.0.0.0/1
#route1_options=table=3
#route-table=wwan  # doesn't work, only int is accepted
route-table=3

[ipv6]
addr-gen-mode=stable-privacy
method=ignore

[proxy]
