#left {
    float: left;
    background: #f0f8ff;
    margin: 0.5em;
    margin-right: 2em;
    padding: 1em;
    border: solid #30597e 2px;
    border-radius: 0.3em;
}

body {
    font-family: sans-serif;
}

#groups, #users {
    padding: 1em;
    padding-top: 1.5em;
    text-align: center;
}

#groups .header, #users .header {
    font-size-adjust: 0.5;
    position: relative;
    left: -1em;
    top: -1em;
    text-align: left;
}

#groups {
    border-bottom: solid #30597e 2px;
    padding-top: 0.8em;
}

#users {
    padding-top: 2em;
}

.group, .user {
    border: solid #9bbcd9 1px;
    padding: 0.4em;
    margin: 0.4em 0em;
    border-radius: 0.5em;
}

.group.highlight, .user.highlight, #auth td.highlight {
    background: #f0c04d;
}

.group:hover, .user:hover {
    background: #ec7229;
}


/* https://stackoverflow.com/q/15702867 */
.tooltip_parent {
    position: relative;
}
.tooltip_parent span.tooltip {
    display: none;
}
.tooltip_parent:hover span.tooltip {
    display:block;
    position:absolute;
    overflow:hidden;
}
.group .tooltip {
    left: 110%;
    top: 0.5em;
    width: 20em;
    text-align: left;
    padding: 0.3em;
    border: solid #30597e 2px;
    border-radius: 0.3em;
    background: white;
}


#auth {
    margin: 1em;
    height: calc(100vh - 2em);
    overflow-y: scroll;
    display: inline-block;
}
#auth > table {
    border-collapse: collapse;
}
#auth > table tr:nth-child(even) {
    background-color: #f0f8ff;
}
#auth > table th {
    border-bottom: solid #30597e 2px;
    padding-bottom: 0.4em;
}
#auth > table td {
    padding: 0.3em 0.8em;
}

.auth_accept:after {
    content: "\2714";
    margin-left: 0.3em;
    color: #1c0;
}
.auth_reject:after {
    content: "\2716"; /* or \274c */
    margin-left: 0.5em;
    color: #d00;
}

/* doesn't work: https://medium.com/p/d23182ae0fbc/responses/show */
tbody{
    display:block;
    overflow:auto;
    height:500px;
    width:100%;
}
thead tr{
    display:block;
}
